{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/takeStyle.css">
    <title>Takes</title>
</head> --}}

  <section class="login-background">  



                <h1 class="login-title">LOGIN</h1>
                
                <div class="login">
                    <div class="profile_info">
                        <img src="/img/images/logo (2cents).png" class="login-Logo" alt="">
                
                    </div>
                    
                    <form id="login-form" type="POST" class="login-form">
                        <label  for="email" class="emailText">Email:</label><br>
                    <hr class="hr">
                        <input class="email-login loginEmail" type="email" placeholder="Enter Email">
                    
                        <label  for="password" class="logPasswordText">Password:</label><br>
                    <hr class="hr">
                        <input class="password-login loginPassword" type="password" placeholder="Enter Password">
                    
                        <button type="submit" class="logBtn">LOGIN:</button>
                         

                    </form>
                    <a class="register" href="/register">register here</a>
                    
        
                </div>
      

    
    
    </section>

    

               
            

            </form>
            
            
        </div>
    </header>
        {{!-- <script src="/js/register.js"></script> --}}
        {{!-- <script src="/js/login.js"></script> --}}


 <script src="/js/login.js"></script>