<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>To: Cents</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <section class="signUp-background">  



                <h1 class="signUp-title">Sign Up</h1>
                
                <div class="signUp">
                    <div class="profile_info">
                        <img src="/img/images/logo (2cents).png" class="signUp-Logo" alt="">
                
                    </div>
                    
                    <form class="signup-form">
                        <label  for="email" class="emailText">Email:</label><br>
                        <input class="email-signup email" type="email" placeholder="Enter Email">
                    <hr>
                        <label  for="username" class="usernameText">Username:</label><br>
                        <input class="username-signup username" type="username" placeholder="Enter Username">
                    <hr>
                        <label  for="password" class="passwordText">Password:</label><br>
                        <input class="password-signup thePassword" type="password" placeholder="Enter Password">
                     <hr>
                        <button id="submit" class="memLogBtn" type="submit" >Create Account</button>
                        <button id="submit" class="memBtn toLogin">Already a member? Click <b>here</b> to: login</button>

                    </form>
                    
        
                </div>
      

    
    
    </section>
 
    
    
  
</body>

<script src="/js/register.js"></script>
</html>